# ROMs
*.z64
*.rom

# Saves
*.sra

# Dev Info
*.log
*.sym

# Build
build/original/*.bin
build/original/*.vpk
build/original/*.txt

# /roms
/roms/*
!/roms/filename_overrides.txt
!/roms/Place legally acquired rom titled ssb.rom here.txt